*{
	box-sizing:border-box;
	margin:0;
	padding:0;
}

body{
	font-family:Arial;
	font-size:14px;
}

header{
	margin-top:10px;

}

main{
	margin:50px auto;
	padding:20px 30px;
	font-weight:300;
	width:1200px;
	}
h4{
	margin-top:20px;
	font-size: 14pt;
	font-weight:300;
	margin-bottom:20px;
}
table{
	border:1px solid black;
	border-collapse: collapse;
	margin-bottom:2%;
	width:100%;
	table-layout: fixed;
}
table input{
	width:100%;
	height:100%;
	border:none;
}
td{
	border-right:1px solid black;
	width:16.666%;
	margin:0;
}
th{
	border-right:1px solid black;
	margin:0;
	font-weight:300;
}
tr{
	border-top:1px solid black;
}
p{
	font-size:12pt;
}

small{
	font-size:13px;
	font-weight: bold;
}

input:hover{
	background-color:rgb(219,229,241);
}

.logo{
	
	width:80px;
}


div.errors{
	margin-left: 43%;
	text-align: center;
	border:3px dashed red;
	padding:10px;
	width: 300px;
    height: 50px;  
    color:red;
    display: none;
}

div.row1 {
	width:100%;	
	border:1px solid black;
}

.row1::after {
    content: "";
    clear: both;
    display: table;
}


div.col1{
	 width: 9%;
	 height:90px;
    float: left;
    padding-left: 10px;
    padding-top:5px;
    /*border: 1px solid black;*/
    border-right:1px solid black;
}

div.col2{
	padding-top:12px;
	 width: 91%;
	 height:40px;
    float: left;
    border-bottom:1px solid black;
   /* border: 1px solid black;*/
}
div.col3{
	padding-top: 15px;
	 width: 91%;
	 float: left;
	 height:50px;
   	 position:block;
  /* 	 border: 1px solid black;*/
   	 background-color:rgb(219,229,241);
}


.table:after, .clearfix:after {
	content: "";
	clear: both;
	display: table;
}


  /*col-5*/
  .col-5 input{
  	border:none;
  }
  .col-5 p{
  	font-size:17px;
  }
  div .col-5 .input1{
  	border-bottom:2px solid black;
  	width:34%;
  }
  /*table in row*/
div .table2{
	margin-bottom:19%;

}
div.table3{
	margin-left:20px;
}



div.row input{
	width:100%;
	height:100%;
	border:none;
	font-size:12pt;
	
}

div.row div {
	float: left;
	border-bottom:1px solid black;
/*	border-left:1px solid black;*/
	border-right:1px solid black;
	height:20px;
}

div.thead1{
	width: 100%;
	background-color:rgb(217,217,217);
	border:1px solid black;
}

/*col-2*/
.col-2 {
	width:16.66666666%;
	padding-bottom:100px;
	border-top:1px solid black;
}
.sub{
	border-left:1px solid black;
}
.col-2 p{
	font-size:12pt;
	
}
.col-2 p:first-child,.col-2 p:nth-child(2),.col-2 p:nth-child(3),.col-2 p:nth-child(4),.col-2 p:nth-child(5),
.col-2 p:nth-child(6)
{
	margin-left:5px;
}

.margin-top p{
	margin-top:35px;
}
.margin-top1 p{
	margin-top:20px;
}
/*col-3*/
.col-3{
	width:16.66666666%;
	height:40px;

}
.space{
	padding-bottom:10%;
}
.space1{
	padding-bottom:12%;
}
/*.margin1{
	padding-bottom:2%;
}*/
/*row2*/
div.row2 input{
	width:100%;
	height:100%;
	border:none;
	font-size:15px;
	
}

div.row2 div {
	float: left;
	height:20px;
/*	border:1px solid black;*/
}
div.row2 p{
	font-size:12pt;
}
div.row2 .row2col1,div.row2 .row2col1-1{
	width:3%;
	text-align:right;
}
div.row2 .row2col1 p,div.row2 .row2col1-1 p{
	margin-right:15px;
}
div.row2 .row2col2{
	width:33%;
}
div.row2 .row2col3{
	width:62%;
}


div.row2 .row2col2-1{
	width:14%;

}
div.row2 .row2col3-1{
	width:82%;
}

/*div.row2 .row2col3-1 input{
	width:97%;
}
*/
div.row2 .row2col3-1::after{
	display:block;
}

div.row2 .row2col2-2{
	width:22%;
}
div.row2 .row2col3-2{
	width:75%;
}

div.row2 .row2col2-3{
	width:13%;
}
div.row2 .row2col3-3{
	width:84%;
}

div.row2 .row2col2-5{
	width:10%;
}
div.row2 .row2col3-5{
	width:87%;
}

div .row2 .row2col2-VI{
	width:13%;
}
div .row2 .row2col3-VI{
	width:84%;
}

div .row2 .row2col1-a{
	width:2%;
	margin-left:5%;
}
div .row2 .row2col2-a{
	width:21%;
}
div .row2 .row2col3-a{
	width:70%;
}
div .row2 .row2col3-a input{
	width:72%;

}
div.row2 .row2col3-a #peso{
	width:2%;
	display:inline;
}

div .row2 .row2col2-c{
	width:42%;
}
div .row2 .row2col3-c{
	width:50%;
}

div .row2 .row2col1-print{
	width:100%;
}
div .row2 .row2col1-print .input1{
	width:30%;
	border-bottom:1px solid black;
}

div .row2 .footer p{
	font-size:10px;
	text-align:right;
	font-weight:bold;
}

/*col-1*/

.col-1 p{
	font-size:17px;
	font-weight: 300;

}
.col-1{
	margin-right:20px;
}


.margin-left{
	margin-left:5%;
}
.margin-top2{
	margin-top:15px;
}


.float-left{
			float:left;
		}
		
.float-right{
			float:right;
		}
.text-right{
			text-align:right;
		}
.text-left{
			text-align:left;
		}
.text-center{
			text-align:center;
		}
.bold{
			font-weight:bold;
		}

.border-top{
			border-top:none!IMPORTANT;
		}
.border-right{
			border-right:none!IMPORTANT;
		}
.border-left{
	border-left: none!IMPORTANT;
}
.border-bottom{
	border-bottom:none!IMPORTANT;
}
.border-none{
	border:none!IMPORTANT;
}
.inline{
	display:inline;
}
a.print{
    text-decoration: none;
    display: inline-block;
    width: 100px;
    margin-top:10px;
  /*  margin-left:75%;*/
    background: #dc143c;
    background: linear-gradient(#e3647e, #DC143C);
    text-align: center;
    color: #fff;
    padding: 3px 6px;
    border-radius: 3px;
    border: 1px solid #e3647e;
    font-size:17px;
}

i.fa.fa-print{
    margin-right: 5px;
}
a.print:hover,input[type="submit"]:hover{
    background: linear-gradient(#DC143C, #e3647e);
}
div .printbutton{
	margin-left:-30%;
	margin-top:5%;
}
input[type="submit"]{
	  text-decoration: none;
    display: inline-block;
    width: 100px;
    margin-top:10px;
  /*  margin-left:75%;*/
    background: #dc143c;
    background: linear-gradient(#e3647e, #DC143C);
    text-align: center;
    color: #fff;
    padding: 3px 6px;
    border-radius: 3px;
    border: 1px solid #e3647e;
    font-size:17px;
}
.form-validation-error {

border: 1px solid red !important;

-moz-box-shadow: 0 0 2px red !important;

-webkit-box-shadow: 0 0 2px red !important;

box-shadow: 0 0 2px red !important;

}

/*responsive*/
@media only screen and (max-width:1024px){
	.logo{width:80px;margin-top:2px;margin-left:-3px;}
	body{font-size:15px;}
	div.col1{width:10%;}
	div.col2,div.col3{width:90%;}
	div.col3{padding-top:1px;}
	h4{font-size:18px;}
	main{width:100%;}
	/*.overflows{overflow-x:auto;}*/
	div.row2 p{font-size:15px;}
	div.row2 .row2col1,div.row2 .row2col1-a{width:5%;}
	div.row2 .row2col2-1,div.row2 .row2col2-2,div.row2 .row2col2-3,div.row2 .row2col2,div.row2 .row2col2-5,
	div.row2 .row2col2-VI,div.row2 .row2col2-c{width:80%;}
	div.row2 .row2col3-1,div.row2 .row2col3-2,div.row2 .row2col3-3,div.row2 .row2col3,
	div.row2col3-5,div.row2 .row2col3-VI,div.row2 .row2col3-a,div.row2 .row2col3-c{width:100%;}
	div.row2 .row2col2-a{width:80%;}
	div .row2 .row2col1-print .input1{width:30%;}
	table{display:block;overflow-x: auto;white-space: nowrap;width:100%;}
	#p1{padding-bottom:30px;}
	.p2{margin-top:10px;}
	div.printbutton{margin-left:0;}
}
@media only screen and (max-width:960px){
	.logo{width:80px;margin-top:2px;margin-left:-5px;}
	body{font-size:15px;}
	div.col1{width:10%;}
	div.col2,div.col3{width:90%;}
	div.col3{padding-top:1px;}
	h4{font-size:17px;}
	main{width:100%;}
	/*.overflows{overflow-x:auto;}*/
	div.row2 p{font-size:12px;}
	div.row2 .row2col1,div.row2 .row2col1-a{width:5%;}
	div.row2 .row2col2-1,div.row2 .row2col2-2,div.row2 .row2col2-3,div.row2 .row2col2,div.row2 .row2col2-5,
	div.row2 .row2col2-VI,div.row2 .row2col2-c{width:80%;}
	div.row2 .row2col3-1,div.row2 .row2col3-2,div.row2 .row2col3-3,div.row2 .row2col3,
	div.row2col3-5,div.row2 .row2col3-VI,div.row2 .row2col3-a,div.row2 .row2col3-c{width:100%;}
	div.row2 .row2col2-a{width:80%;}
	div .row2 .row2col1-print .input1{width:30%;}
	table{display:block;overflow-x: auto;white-space: nowrap;width:100%;}
	#p1{padding-bottom:30px;}
	.p2{margin-top:10px;}
	div.printbutton{margin-left:0;}
}
@media only screen and (max-width:846px){
	.logo{width:80px;margin-left:5px;}
	body{font-size:15px;}
	div.col1{width:15%;}
	div.col2,div.col3{width:85%;}
	h4{font-size:17px;}
	main{width:100%;}
	/*.overflows{overflow-x:auto;}*/
	div.row2 p{font-size:12px;}
	div.row2 .row2col1,div.row2 .row2col1-a{width:5%;}
	div.row2 .row2col2-1,div.row2 .row2col2-2,div.row2 .row2col2-3,div.row2 .row2col2,div.row2 .row2col2-5,
	div.row2 .row2col2-VI,div.row2 .row2col2-c{width:80%;}
	div.row2 .row2col3-1,div.row2 .row2col3-2,div.row2 .row2col3-3,div.row2 .row2col3,
	div.row2col3-5,div.row2 .row2col3-VI,div.row2 .row2col3-a,div.row2 .row2col3-c{width:100%;}
	div.row2 .row2col2-a{width:80%;}
	div .row2 .row2col1-print .input1{width:30%;}
	table{display:block;overflow-x: auto;white-space: nowrap;width:100%;}
	#p1{padding-bottom:30px;}
	.p2{margin-top:10px;}
	div.printbutton{margin-left:0;}
	div.row2 p{font-size:15px;}
}
@media only screen and (max-width:721px){
	.logo{margin-left:-4px;}
		div.col3{padding-top:10px;}
}
@media only screen and (max-width:629px){
	.logo{width:80px;}
	body{font-size:12px;}
	div.col1{width:20%;}
	div.col2,div.col3{width:80%;}
	div.col3{padding-top:10px;}
	h4{font-size:13px;}
	main{width:100%;}
	}
@media only screen and (max-width:484px){
	.logo{width:80px;margin-left:-8px;}
	body{font-size:12px;}
	div.col1{width:20%;}
	div.col2,div.col3{width:80%;}
	div.col3{padding-top:8px;}
	h4{font-size:17px;}
	main{width:100%;}
	/*.overflows{overflow-x:auto;}*/
	div.row2 p{font-size:12px;}
	div.row2 .row2col1,div.row2 .row2col1-a{width:5%;}
	div.row2 .row2col2-1,div.row2 .row2col2-2,div.row2 .row2col2-3,div.row2 .row2col2,div.row2 .row2col2-5,
	div.row2 .row2col2-VI,div.row2 .row2col2-c{width:80%;}
	div.row2 .row2col3-1,div.row2 .row2col3-2,div.row2 .row2col3-3,div.row2 .row2col3,
	div.row2col3-5,div.row2 .row2col3-VI,div.row2 .row2col3-a,div.row2 .row2col3-c{width:100%;}
	div.row2 .row2col2-a{width:80%;}
	div .row2 .row2col1-print .input1{width:80%;}
	table{display:block;overflow-x: auto;white-space: nowrap;width:100%;}
	#p1{padding-bottom:30px;}
	.p2{margin-top:10px;}
	div.printbutton{margin-left:0;}
}
@media only screen and (max-width: 457px){
	.logo{width:80px;margin-top:2px;margin-left:-2px;}
	body{font-size:12px;}
	div.row2 p{font-size:12px;}
	div.col1{width:25%;}
	div.col2,div.col3{width:75%;}
	div.col3{padding-top:2px;}
	div.row2 .row2col1,div.row2 .row2col1-a{width:5%;}
	div.row2 .row2col2-1,div.row2 .row2col2-2,div.row2 .row2col2-3,div.row2 .row2col2,div.row2 .row2col2-5,
	div.row2 .row2col2-VI,div.row2 .row2col2-c{width:80%;}
	div.row2 .row2col3-1,div.row2 .row2col3-2,div.row2 .row2col3-3,div.row2 .row2col3,
	div.row2col3-5,div.row2 .row2col3-VI,div.row2 .row2col3-a,div.row2 .row2col3-c{width:100%;}
	div.row2 .row2col2-a{width:80%;}
	div .row2 .row2col1-print .input1{width:80%;}
	table{display:block;overflow-x: auto;white-space: nowrap;width:100%;}
	#p1{padding-bottom:30px;}
	.p2{margin-top:10px;}
	div.printbutton{margin-left:0;}
}
@media only screen and (max-width: 425px){
	.logo{margin-left:-4px;}
}
@media only screen and (max-width: 387px){
	.logo{margin-left:-2px;}
}
@media only screen and (max-width:387px){
	.logo{width:80px;margin-top:2px;margin-left:-5px;}
	body{font-size:10px;}
	div.col1{width:30%;}
	div.col2,div.col3{width:70%;}
	div.col3{padding-top:5px;}
	h4{font-size:15px;}
	main{width:100%;}
	/*.overflows{overflow-x:auto;}*/
	div.row2 p{font-size:12px;}
	div.row2 .row2col1,div.row2 .row2col1-a{width:5%;}
	div.row2 .row2col2-1,div.row2 .row2col2-2,div.row2 .row2col2-3,div.row2 .row2col2,div.row2 .row2col2-5,
	div.row2 .row2col2-VI,div.row2 .row2col2-c{width:80%;}
	div.row2 .row2col3-1,div.row2 .row2col3-2,div.row2 .row2col3-3,div.row2 .row2col3,
	div.row2col3-5,div.row2 .row2col3-VI,div.row2 .row2col3-a,div.row2 .row2col3-c{width:100%;}
	div.row2 .row2col2-a{width:80%;}
	div .row2 .row2col1-print .input1{width:80%;}
	table{display:block;overflow-x: auto;white-space: nowrap;width:100%;}
	#p1{padding-bottom:30px;}
	.p2{margin-top:10px;}
	div.printbutton{margin-left:0;}
}
@media only screen and (max-width:331px) {
	body{font-size:8px;}
	div.col1{width:30%;}
	div.col2,div.col3{width:70%;}
	div.col3{padding-top:5px;}
	h4{font-size:13px;}
	.logo{width:70px;margin-top:5px;margin-left:-6px;}
	main{width:100%;}
	/*.overflows{overflow-x:auto;}*/
	div.row2 p{font-size:12px;}
	div.row2 .row2col1,div.row2 .row2col1-a{width:5%;}
	div.row2 .row2col2-1,div.row2 .row2col2-2,div.row2 .row2col2-3,div.row2 .row2col2,div.row2 .row2col2-5,
	div.row2 .row2col2-VI,div.row2 .row2col2-c{width:80%;}
	div.row2 .row2col3-1,div.row2 .row2col3-2,div.row2 .row2col3-3,div.row2 .row2col3,
	div.row2col3-5,div.row2 .row2col3-VI,div.row2 .row2col3-a,div.row2 .row2col3-c{width:100%;}
	div.row2 .row2col2-a{width:80%;}
	div .row2 .row2col1-print .input1{width:80%;}
	table{display:block;overflow-x: auto;white-space: nowrap;width:100%;}
	#p1{padding-bottom:30px;}
	.p2{margin-top:10px;}
	div.printbutton{margin-left:0;}

}
@media only screen and (max-width:300px) {
	body{font-size:9px;}
	div.col1{width:30%;}
	div.col2,div.col3{width:70%;}
	div.col3{padding-top:5px;}
	h4{font-size:13px;}
	.logo{width:70px;margin-top:5px;margin-left:-9px;}
	main{width:100%;}
	/*.overflows{overflow-x:auto;}*/
	div.row2 p{font-size:12px;}
	div.row2 .row2col1,div.row2 .row2col1-a{width:5%;}
	div.row2 .row2col2-1,div.row2 .row2col2-2,div.row2 .row2col2-3,div.row2 .row2col2,div.row2 .row2col2-5,
	div.row2 .row2col2-VI,div.row2 .row2col2-c{width:80%;}
	div.row2 .row2col3-1,div.row2 .row2col3-2,div.row2 .row2col3-3,div.row2 .row2col3,
	div.row2col3-5,div.row2 .row2col3-VI,div.row2 .row2col3-a,div.row2 .row2col3-c{width:100%;}
	div.row2 .row2col2-a{width:80%;}
	div .row2 .row2col1-print .input1{width:80%;}
	table{display:block;overflow-x: auto;white-space: nowrap;width:100%;}
	#p1{padding-bottom:30px;}
	.p2{margin-top:10px;}
	div.printbutton{margin-left:0;}
}
@media only screen and (max-width:272px) {
	body{font-size:5px;}
	div.col1{width:40%;}
	div.col2,div.col3{width:60%;}
	div.col3{padding-top:10px;}
	h4{font-size:13px;}
	.logo{width:70px;margin-top:5px;margin-left:-8px;}
	main{width:100%;}
	/*.overflows{overflow-x:auto;}*/
	div.row2 p{font-size:8px;}
	div.row2 .row2col1,div.row2 .row2col1-a{width:5%;}
	div.row2 .row2col2-1,div.row2 .row2col2-2,div.row2 .row2col2-3,div.row2 .row2col2,div.row2 .row2col2-5,
	div.row2 .row2col2-VI,div.row2 .row2col2-c{width:80%;}
	div.row2 .row2col3-1,div.row2 .row2col3-2,div.row2 .row2col3-3,div.row2 .row2col3,
	div.row2col3-5,div.row2 .row2col3-VI,div.row2 .row2col3-a,div.row2 .row2col3-c{width:100%;}
	div.row2 .row2col2-a{width:80%;}
	div .row2 .row2col1-print .input1{width:80%;}
	table{display:block;overflow-x: auto;white-space: nowrap;width:100%;}
	#p1{padding-bottom:30px;}
	.p2{margin-top:10px;}
	div.printbutton{margin-left:0;}

}
@media only screen and (max-width:230px) {
	body{font-size:5px;}
	div.col1{width:40%;}
	div.col2,div.col3{width:60%;}
	div.col3{padding-top:10px;}
	h4{font-size:13px;}
	.logo{width:60px;margin-top:5px;margin-left:-8px;}
	main{width:100%;}
	/*.overflows{overflow-x:auto;}*/
	div.row2 p{font-size:8px;}
	div.row2 .row2col1,div.row2 .row2col1-a{width:5%;}
	div.row2 .row2col2-1,div.row2 .row2col2-2,div.row2 .row2col2-3,div.row2 .row2col2,div.row2 .row2col2-5,
	div.row2 .row2col2-VI,div.row2 .row2col2-c{width:80%;}
	div.row2 .row2col3-1,div.row2 .row2col3-2,div.row2 .row2col3-3,div.row2 .row2col3,
	div.row2col3-5,div.row2 .row2col3-VI,div.row2 .row2col3-a,div.row2 .row2col3-c{width:100%;}
	div.row2 .row2col2-a{width:80%;}
	div .row2 .row2col1-print .input1{width:80%;}
	table{display:block;overflow-x: auto;white-space: nowrap;width:100%;}
	#p1{padding-bottom:30px;}
	.p2{margin-top:10px;}
	div.printbutton{margin-left:0;}

}

@media print{
	@page {
		margin:0.5in 1in 1in 1in;
		size:13in 8.5in;
	}
	main{padding:0;margin:0;}
	.logo{margin-left:4.5px;}
	div.row1{border-right:none;border-top:none;border-left:none;border-bottom:1pt solid black;}
	div.row1 .col1{border-top:1pt solid black;border-left:1pt solid black;border-bottom:none;border-right:none;}
	div.row1 .col2{border-top:1px solid black;border-right:1pt solid black;border-bottom:none;border-left:1pt solid black;}
	div.row1 .col3{border-top:1pt solid black;border-right:1pt solid black;border-bottom:none;border-left:1pt solid black;}
	.left{border-right:1pt solid black;}
	table { border:2pt solid black !important;border-collapse: collapse!important;}
	td,th {outline:1pt solid black !important;}
	div.printbutton{display:none;!IMPORTANT}
	}



	/*h4{margin-right:250px;}
	div.col2,div.col3{width: 69%;}
	div.col3{border-left:2px solid black;}
	div.row{width:78%;}
	div .row .col-2,div .row .col-3{width:16.666666%;}
	div .row2 .footer{margin-right:280px;}
	div .col-3 input{border-top:1pt solid black;}
	div .row .col-3{border-right:1pt solid black;border-bottom:1pt solid black;}
	div .row .col-2{border-bottom:none;}
	div .row .subprint{border-bottom:2pt solid black;}*/
	/*div  .subprint1{border-left:2pt solid black;border-right:1pt solid black;}*/
	/*div.col1{border-left:2pt solid black;border-right:2pt solid black;}
	div.col2{border-top:none;border-left:none;}
	div.row1{border-top:1pt solid black;border-bottom:1pt solid black;}
	div .row div{border-right:1px solid black;}
*/
	